# Medusa Configuration
STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:9000,http://localhost:5173
AUTH_CORS=http://localhost:3000,http://localhost:9000,http://localhost:5173

# Database & Cache
DATABASE_URL=postgres://medusa:medusa@localhost:5432/medusa-design-studio
REDIS_URL=redis://localhost:6379

# Security Credentials
JWT_SECRET=supersecretjwtsecretchangeitforproduction
COOKIE_SECRET=supersecretcookiesecretchangeitforproduction

# Miscellaneous Options
MEDUSA_ADMIN_ONBOARDING_TYPE=default
