MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=https://shop.prashantbajak.in,http://shop.prashantbajak.in,https://design-studio-storefront-seven.vercel.app,http://localhost:3000,http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=https://api.prashantbajak.in,http://api.prashantbajak.in,http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=https://shop.prashantbajak.in,http://shop.prashantbajak.in,https://api.prashantbajak.in,http://api.prashantbajak.in,https://design-studio-storefront-seven.vercel.app,http://localhost:3000,http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
AUTH_MFA_ENCRYPTION_KEY=1312df908a1743ad4a97f224b514154bb9ca8a17d083ab1925a6a66ca1901ec2
DATABASE_URL=postgres://medusa:medusa@localhost/medusa
